.binance-widget-marquee.MuiBox-root {
  margin: 0;
  padding: '50px';
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.4);
}

.binance-widget-marquee .binance-widget-ticker-wrap {
  padding: 0;
}

.binance-widget-ticker-wrap + div {
  display: none !important;
}
